/target
Cargo.lock

*svg
*png
*jpg
*dot
*txt

# Ignore all YAML files
*.yaml
*.yml

# But not YAML files in systems/
!systems/**/*.yaml
!systems/**/*.yml

# ignore json files
*.json
!example/queries/*.json
!example/placements/*.json

*__pycache__/
